<main class="container">
    <header class="index-header">
        <div class="logo-wrapper">
            <img src="./images/spotify.png" alt="spotify-logo">
            <h1>SPOTIFY CLONE</h1>
        </div>
    </header>

    <div class="form-wrapper">
        <div class="form-group">
            <form action="/artist-search", method="GET">
                <input class= 'form-control'type="text" name="band" placeholder="Search for bands">
                <input class= 'btn btn-success btn-block mt-3' type="submit" value= "buscar">
                </form>    
            </div>

        </div>
    

</main>

